




span[type="legend"] > span {
    display: inline;
    margin-right: 40px;
}

span[type="legend"] > span > span{
    display:inline-block;
    padding : 2px;
}


span[type="legend"] > span > span[type="ene_place"]{
    border : 2px solid #19ce0c;
    background : none;
}

span[type="legend"] > span > span[type="ene_pers"]{
    border : 2px solid #f76f6f;
    background : none;
}

span[type="legend"] > span > span[type="ne_place"]{
    background : #19ce0c;
}

span[type="legend"] > span > span[type="ne_pers"]{
    background : #f76f6f;
}

span[type="legend"] > span > span[type="place"]{
    background : #19ce0c;
}

span[type="legend"] > span > span[type="pers"]{
    background : #f76f6f;
}

span[type="legend"] > span > span[type="unk"]{
    border : 1px dotted black;
    background : none;
}

rs > name {
    padding : 3px;
    border : 1px dotted black;
}

rs[type="ene"] {
    border : none;
}

rs[type="place"][subtype="ene"] {
    border : 2px solid #19ce0c;
    background : none;
    padding : 3px;
}


rs[type="place"]>name {
    background : #19ce0c;
    padding : 3px;
    border : none;
}



rs[type="place"]:hover > location {
    display : inline;
    position : absolute;
    margin-top:23px;
     margin-left:-35px;
     
     background : WhiteSmoke;
     border : 1px solid gray;
     padding : 5px;

}

rs[type="place"]:hover > location geo {
    display : none;
}

rs[type="place"]:hover > location geo:first-child {
    display : block;
    width : 200px;
}

rs[type="place"]:hover > location geo:before {
    content: " " attr(source) " : ";
}


rs[type="person"][subtype="ene"] {
    border : 2px solid #f76f6f;
    background : none;
    padding : 3px;
}

rs[type="person"]>name {
    background : #f76f6f;
    padding : 3px;
}

location {
    display : none;
}

body > p {
    display:block;
    padding: 10px;
    margin: 15px;
    position:relative;
    background: WhiteSmoke;
    box-shadow: 0px 0px 3px #BBB;
}

s {
    display:inline-block;
    position: relative;
    padding: 10px;
    position:relative;
    margin:5px;
    color:black;
    text-align:justify;
    line-height: 150%;
    vertical-align: middle;   
    color: black;
    font-size:14px;

}
 
