<html lang="fr">
	<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>

		<ul id="profileTabs" class="nav nav-tabs">
		    <li class="active"><a href="#Denat" data-toggle="tab">Denat</a></li>
		    <li><a href="#Brassaw" data-toggle="tab">Brassaw</a></li>
		</ul>
		  <div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="Denat">
<h2>Denat</h2>
<p><span type="legend"><span><span type="ene_place">place</span> or <span
type="ene_pers">person</span> extended named entity</span>
<span><span type="ne_place">place</span> or <span type="ne_pers">person</span>
(embedded) named entity</span>
<span><span type="unk">unclassified</span> entity</span></span></p>


<p>
<s>
<w type="N" lemma="" xml:id="w1">DENAT</w> .</s>
<s>
<rs type="place" xml:id="rs.0">
<name>
<w type="NPr" lemma="" xml:id="w2">DENAT</w>
</name>
<location>
<geo source="geonames">43.84656 2.20602</geo>
<geo source="levenshtein">43.84656 2.20602</geo>
<geo source="barycenter">43.84656 2.20602</geo>
</location></rs> ,<rs type="ene">
<rs type="place" subtype="ene">
<term type="place">
<w lemma="petit" type="A" xml:id="w3">petite</w>
<w lemma="ville" type="N" xml:id="w4">ville</w>
</term>
<w lemma="de" type="PREP" xml:id="w5">de</w>
<rs type="place" xml:id="rs.1">
<name>
<w lemma="France" type="NPr" xml:id="w6">France</w>
</name>
<location>
<geo source="geonames">14.60365 -61.07418</geo>
<geo source="levenshtein">46.0 2.0</geo>
<geo source="barycenter">46.0 2.0</geo>
</location></rs>
</rs>
</rs>
<w lemma="au" type="PREPDET" xml:id="w7">au</w>
<rs type="ene">
<rs type="place" subtype="ene">
<term type="place">
<w lemma="diocèse" type="N" xml:id="w8">diocèse</w>
</term>
<w lemma="de" type="PREP" xml:id="w9">d'</w>
<rs type="place" xml:id="rs.2">
<name>
<w type="NPr" lemma="" xml:id="w10">Alby</w>
</name>
<location>
<geo source="geonames">59.2335 17.8538</geo>
<geo source="levenshtein">59.2335 17.8538</geo>
<geo source="barycenter">62.49713 15.4745</geo>
</location></rs>
</rs>
</rs>
<w lemma="dans" type="PREP" xml:id="w11">dans</w>
<w lemma="le" type="DET" xml:id="w12">le</w>
<rs type="place" xml:id="rs.3">
<name>
<w lemma="Languedoc" type="NPr" xml:id="w13">Languedoc</w>
</name>
<location>
<geo source="geonames">43.66667 3.16667</geo>
<geo source="levenshtein">44.0 4.0</geo>
<geo source="barycenter">44.0 4.0</geo>
</location></rs> ,<w lemma="sur" type="PREP" xml:id="w14">sur</w>
<w type="A" lemma="" xml:id="w15">l</w>
<rs type="place" xml:id="rs.4">
<name>
<w type="NPr" lemma="" xml:id="w16">Assore</w>
</name>
<location>
<geo source="geonames">0.36667 9.8</geo>
<geo source="levenshtein">0.36667 9.8</geo>
<geo source="barycenter">5.97342 -4.27073</geo>
</location></rs> ,<w lemma="à" type="PREP" xml:id="w17">à</w>
<term type="measure" subtype="distance">
<w lemma="trois" type="N" xml:id="w18">trois</w>
<w lemma="lieue" type="N" xml:id="w19">lieues</w>
</term>
<w lemma="de" type="PREP" xml:id="w20">d'</w>
<rs type="place" xml:id="rs.5">
<name>
<w type="NPr" lemma="" xml:id="w21">Alby</w>
</name>
<location>
<geo source="geonames">59.2335 17.8538</geo>
<geo source="levenshtein">59.2335 17.8538</geo>
<geo source="barycenter">62.49713 15.4745</geo>
</location></rs> .</s>
<s/>
</p>
</div>
</div>


<div role="tabpanel" class="tab-pane" id="Brassaw">
<h2>Brassaw</h2>
<p><span type="legend"><span><span type="ene_place">place</span> or <span
type="ene_pers">person</span> extended named entity</span>
<span><span type="ne_place">place</span> or <span type="ne_pers">person</span>
(embedded) named entity</span>
<span><span type="unk">unclassified</span> entity</span></span></p>
<p>
<s>
<rs>
<name>
<w type="NPr" lemma="" xml:id="w1">BRASSAW</w>
</name>
</rs> ,<w lemma="ou" type="CONJC" xml:id="w2">ou</w>
<rs>
<name>
<w type="NPr" lemma="" xml:id="w3">GRONSTAT</w>
</name>
</rs> .</s>
<s>
<rs>
<name>
<w type="NPr" lemma="" xml:id="w4">BRASSAW</w>
</name>
</rs> ,<w lemma="ou" type="CONJC" xml:id="w5">ou</w>
<rs>
<name>


<w type="NPr" lemma="" xml:id="w6">GRONSTAT</w>
</name>
</rs> ,(<rs>
        <name>
        <w type="NPr" lemma="" xml:id="w7">Géog</w>
        </name>
        </rs> .</s>
        <s>
        <w type="N" lemma="" xml:id="w8">anc</w> .</s>
        <s>
        <w lemma="et" type="CONJC" xml:id="w9">et</w>
        <w type="N" lemma="" xml:id="w10">mod</w> .</s>
        <s> )<rs type="ene">
<rs type="place" subtype="ene">
<term type="place">
<w lemma="ville" type="N" xml:id="w11">ville</w>
<w lemma="fort" type="A" xml:id="w12">forte</w>
</term>
<w lemma="de" type="PREP" xml:id="w13">de</w>
<rs type="place" xml:id="rs.0">
<name>
<w type="NPr" lemma="" xml:id="w14">Transilvanie</w>
</name>
<location>
<geo source="geonames">46.5 25.0</geo>
<geo source="levenshtein">46.5 25.0</geo>
<geo source="barycenter">46.5 25.0</geo>
</location></rs>
</rs>
</rs> .</s>
<s>
<location>
<geo>44 10 46 30</geo>
</location>
<w lemma="le" type="DET" xml:id="w19">Les</w>
<w lemma="un" type="N" xml:id="w20">uns</w>
<w lemma="la" type="PRO" xml:id="w21">la</w>
<w lemma="prendre" type="V" xml:id="w22">prennent</w>
<w lemma="pour" type="PREP" xml:id="w23">pour</w>
<w lemma="le" type="DET" xml:id="w24">la</w>
<rs>
<name>
<w type="NPr" lemma="" xml:id="w25">Proetoria</w>
</name>
</rs>
<rs type="ene">
<rs type="unknown" subtype="ene">
<term type="unknown">
<w type="N" lemma="" xml:id="w26">augusta</w>
</term>
<w lemma="de" type="PREP" xml:id="w27">de</w>
<rs type="person">
<name>
<w type="NPr" lemma="" xml:id="w28">Ptolomée</w>
</name>
</rs>
</rs>
</rs> ,<w lemma="et" type="CONJC" xml:id="w29">et</w>
<w lemma="de" type="PREP" xml:id="w30">d'</w>
<w lemma="autre" type="A" xml:id="w31">autres</w>
<w lemma="la" type="PRO" xml:id="w32">la</w>
<w lemma="nommer" type="V" xml:id="w33">nomment</w>
<rs type="place" xml:id="rs.1">
<name>
<w type="NPr" lemma="" xml:id="w34">Corona</w>
</name>
<location>
<geo source="geonames">40.74705 -73.86014</geo>
<geo source="levenshtein">40.74705 -73.86014</geo>
<geo source="barycenter">-9.35802 14.64918</geo>
</location></rs>
<w lemma="et" type="CONJC" xml:id="w35">et</w>
<rs>
<name>
<w type="NPr" lemma="" xml:id="w36">Stephanopolis</w>
</name>
</rs> .</s>
<s/>
</p>
</div>
</div>



	</body>
</html>
